
.header { 
    height: 75x;
    width: 75%;
    background-color: #004175;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 100px; 
    margin-top: -40px;
    border-bottom: 5px solid #89DEEF;
    font-family: 'Open Sans';
    font-size: large;

}    
h3{
    color:rgb(0, 0, 0)

}

.opener {
    height: 100px;
    color: black;
    font-size: 40px;
    font-family: 'Oswald';
    font-weight: 200;
    font-size: small;
}

.dog-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: solid;
    border-color: fuchsia;
    max-width: 70%;
    height: auto;
    min-width: 60%;
    min-height: fit-content;
    
}


.dogcard{
    display:flex;
    flex-wrap: wrap;
    max-width: 30%;
    height: auto;
    flex-direction: column;
    

}
.dogcard img{  
    max-width: 100%;
    height: auto;
}


ul{     
    display: flex;
    flex-wrap:wrap;
    margin-top: -20px;
    margin-left: -44px;
    
}




li{
    font-family: 'Open Sans';
    background-color: #89DEEF;
    border-radius: 30px;
    list-style-type: none;
    margin: 3px;
    
}


body{
    
}








.footerimg{   
    display:flex;
    justify-content:center;
    width: 300px;
    height: 300px;


}





#donate{
    width: 300px;
    height:300px;

    background: 

    linear-gradient(
        rgba(#A6A9F0), 
        rgba(#A6A9F0)
    ),
    url('starter_files/images/donate.jpg');

}



.footer{
    display: flex;
    justify-content: center;
    border-style: solid;
    flex: 1 1 auto;

}






























